:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  box-sizing: border-box;
  font-weight: 500;
  background-color: #eaebf1;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

img {
  max-width: 100%;
  display: block;
  object-fit: cover;
  /* height: 80%; */
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
